button,
input {
	display: block;
	border: 0;
	font: $fnt_w__reg 1rem/1.4 $fnt_f__primary;
	background: none;
}

input:not([type='submit']) {
	box-sizing: border-box;
	border-bottom: 2px solid $clr__mono_light;
	padding: 0.5rem 0.2rem;
	width: 100%;
	max-width: 35rem;
}

button,
input[type='submit'] {
	&:not(:disabled) { cursor: pointer; }
}
