h1,
h2,
.h1,
.h2 {
	display: block;
	margin: 0;
	text-decoration: none;
	color: $clr__mono_dark;
}

h1,
.h1 {
	font: $fnt_w__reg 5.3rem/1.2 $fnt_f__primary;

	@include bp_w__below_680 { font-size: 3rem; }
}

h2,
.h2 {
	font: $fnt_w__reg 2.5rem/1.2 $fnt_f__primary;

	@include bp_w__below_680 { font-size: 1.5rem; }
}
