# IDE
.vscode

# Dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Testing
coverage/
cypress/fixtures/example.json
cypress/integration/examples/

# Parcel cache and distribution folders
.cache/
dist/

# Misc
.DS_Store
brief/
