.app_header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 0 auto 5rem;
	padding: 1rem;

	.logo {
		&,
		> img { display: block; }

		> img { max-width: 13.5rem; }

		@include bp_w__below_680 {
			> img { max-width: 8rem; }
		}
	}
}
