.input_field {
	display: block;
	margin: 0 0 2rem;
	font-size: 1.2rem;

	.input_field__label {
		display: block;
		margin: 0 0 1.2rem;
		font-weight: $fnt_w__bold;
	}

	&._invalid {
		input { border-bottom-color: $clr__neg; }
	}
}
