.user_menu {
	position: relative;

	.avatar {
		display: block;
		width: 2.5rem;
	}

	.icon {
		margin: 0 0 0 1rem;
		width: 1rem;
		color: $clr__mono_reg;
	}

	.user_menu__button {
		align-items: center;
		display: flex;
		border: 0;
		padding: 0;
		background: none;
		cursor: pointer;
	}

	.user_menu__options {
		position: absolute;
		top: calc(100% + 1px);
		right: 0;
		display: none;
		margin: 0;
		border-radius: 0.2rem;
		padding: 0.5rem 1rem;
		min-width: 5rem;
		text-align: right;
		background: $clr__mono_light;
		list-style: none;

		button {
			display: inline;
			padding: 0;
		}

		li { white-space: nowrap; }
	}

	&._open {
		.icon { transform: rotate(180deg); }
		.user_menu__options { display: block; }
	}
}
