// ================================================== PATHS

$pth__img: '../images';


// ================================================== COLOURS

$clr__black:      #000000;
$clr__mono_dark:  #2E3442;
$clr__mono_reg:   #8495A1;
$clr__mono_light: #DADCDE;
$clr__white:      #FFFFFF;

$clr__primary:    #F75D77;

$clr__info:       #277BE5;
$clr__neg:        #FF312A;
$clr__pos:        #19924E;


// ================================================== FONTS

$fnt_f__primary: 'Mukta Mahee', sans-serif;

$fnt_w__reg: 300;
$fnt_w__bold: 600;
