extends pug/__layout.pug

block variables
	-
		const $meta = {
			title: 'Kris Bastiani | Frankie Financial tech test',
			desc: 'A coding challenge provided by Frankie Financial'
		};

block body
	main#js__app
