extends pug/__layout.pug

block variables
	-
		const $meta = {
			title: 'New password | Frankie',
			desc: 'A coding challenge provided by Frankie Financial'
		};

block body
	main#js__app
		include pug/_header.pug

		.dsp__flex
			.half
				h1 New password

				//- New password Form

			.half: img(src='/assets/images/reset_pwd.png', alt='')
